<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Гарри Поттер и Тайная комната</title>
    <link rel="stylesheet" href="../styles/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="header_wrap">
    <div class="header">
        <div class="container header_content">
            <div class="header_logo">
                <a href="../index.html">
                    <img src="../images/logo.png" alt="логотип">
                </a>
            </div>
            <div class="header_icons">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-youtube" aria-hidden="true"></i>
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
            <div class="header_box">
                <div class="header_box_title">
                    welcome to
                    BOOKSLOVER
                </div>
                <div class="header_box_content">
                    The only online store you will ever need for all your windsurfing and kitesurfing and SUP needs
                </div>
            </div>
            <div class="header_box_2">
                <div class="header_box_2_title">
                    JP Funride 2014
                </div>
                <div class="header_box_2_content">
                    Super easy going freeride boards based on the X-Cite
                    Ride shape concept with additional control and super easy jibing.
                </div>
                <button class="header_box_2_buy">Купить</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="wrap_column">
        <div class="left_column">
            <div class="menu_title">
                Меню
            </div>
            <ul class="menu">
                <li>
                    <a href="../index.html">Главная</a>
                </li>
                <li>
                    <a href="../catalog.html">Каталог</a>
                </li>
                <li>
                    <a href="../contacts.html">Контакты</a>
                </li>
            </ul>
            <div class="now">
                now<br>
                is<br>
                open!
            </div>
        </div>
        <div class="right_column">
            <div class="category_title">
                Гарри Поттер и Тайная комната
            </div>
                <div class="card">
                    <div class="card_image">
                        <a href="../images/book2.jpg" target="_blank">
                            <img class="image" src="../images/book2.jpg" title="Гарри Поттер и Тайная комната" alt="Гарри Поттер и Тайная комната">
                        </a>
                    </div>
                    <div class="card_desc">
                        <p class="short_desc">
                            Вторая книга из серии о Гарри Поттере. Путешествие по миру волшебства продолжается...
                        </p>
                        <div class="price">
                            <div>
                                <i>Цена: <b>434 ₽</b></i>
                            </div>
                            <button class="buy">Купить</button>
                        </div>
                    </div>
                </div>
                <h3 class="product_header">Характеристики товара</h3>
                <table>
                    <tr>
                        <td><b>ID товара:</b></td>
                        <td>2425429</td>
                    </tr>
                    <tr>
                        <td><b>Издательство:</b></td>
                        <td>Росмэн</td>
                    </tr>
                    <tr>
                        <td><b>Год издания:</b></td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td><b>Кол-во страниц:</b></td>
                        <td>528</td>
                    </tr>
                    <tr>
                        <td><b>ISBN:</b></td>
                        <td>9785389077881</td>
                    </tr>
                    <tr>
                        <td><b>Тираж:</b></td>
                        <td>30000</td>
                    </tr>
                    <tr>
                        <td><b>Формат:</b></td>
                        <td>20.6 x 13.2 x 3.8</td>
                    </tr>
                    <tr>
                        <td><b>Тип обложки:</b></td>
                        <td>Твердая глянцевая</td>
                    </tr>
                </table>
                <h3 class="product_header">Подробное описание товара</h3>
                <p class="decs">
                    «Черный Лорд лежит в одиночестве, всеми забытый, покинутый друзьями и последователями. Двенадцать
                    лет верный слуга его был в заточении. Сегодня, до полуночи, слуга вырвется на свободу и отправится
                    искать своего господина». .После фиаско в колдовстве гигантских размеров Гарри Поттер сбегает от
                    Дурслеев из Литтл Уииджиига на ночном автобусе в предчувствии серьезной беды. Но министерство
                    магии занято ловлей более крупной рыбы - Сириуса Блэка, преданного последователя Лорда
                    Воль-деморта и печально известного заключенного, сбежавшего из тюрьмы Азкабан. Говорили, что он
                    охотится за Гарри Поттером и министр магии отправил дементоров Азкабана проверить школьные
                    угодья. В третий год обучения Гарри в «Хогварце» его преследуют темные слухи и смертельные
                    знамения, в то время как он узнает новую правду о своем прошлом и сталкивается лицом к лицу с
                    одним из самых преданных слуг Черного Лорда...
                </p>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <footer>2018  BOOKSLOVER. All rights reserved - Designed by theuncreativelab.com</footer>
        <div class="footer_icons">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
            <i class="fa fa-google-plus" aria-hidden="true"></i>
            <i class="fa fa-tumblr" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-rss" aria-hidden="true"></i>
        </div>
    </div>
</div>
</body>
</html>