<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Гарри Поттер и Философский камень</title>
    <link rel="stylesheet" href="../styles/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="header_wrap">
    <div class="header">
        <div class="container header_content">
            <div class="header_logo">
                <a href="../index.html">
                    <img src="../images/logo.png" alt="логотип">
                </a>
            </div>
            <div class="header_icons">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-youtube" aria-hidden="true"></i>
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
            <div class="header_box">
                <div class="header_box_title">
                    welcome to
                    BOOKSLOVER
                </div>
                <div class="header_box_content">
                    The only online store you will ever need for all your windsurfing and kitesurfing and SUP needs
                </div>
            </div>
            <div class="header_box_2">
                <div class="header_box_2_title">
                    JP Funride 2014
                </div>
                <div class="header_box_2_content">
                    Super easy going freeride boards based on the X-Cite
                    Ride shape concept with additional control and super easy jibing.
                </div>
                <button class="header_box_2_buy">Купить</button>
            </div>
        </div>
    </div>
</div>
    <div class="container">
        <div class="wrap_column">
            <div class="left_column">
                <div class="menu_title">
                    Меню
                </div>
                <ul class="menu">
                    <li>
                        <a href="../index.html">Главная</a>
                    </li>
                    <li>
                        <a href="../catalog.html">Каталог</a>
                    </li>
                    <li>
                        <a href="../contacts.html">Контакты</a>
                    </li>
                </ul>
                <div class="now">
                    now<br>
                    is<br>
                    open!
                </div>
            </div>
            <div class="right_column">
                <div class="category_title">
                    Гарри Поттер и Философский камень
                </div>
                <div class="product_card_wrap">
                    <div class="product_card">
                    <div class="product_image">
                        <a href="../products/item1.html">
                            <img class="image_mini" src="../images/book3.jpg" alt="Гарри Поттер и Философский камень"><br>
                        </a>
                    </div>
                </div>
                    <div class="product_info">
                        <div class="product_name">
                            <a href="../products/item1.html">Гарри Поттер и Философский камень</a>
                        </div>
                        <div class="product_price">
                            <b>₽</b>.434.00
                        </div>
                    </div>
                </div>
                <h3 class="product_header">Характеристики товара</h3>
                <table>
                    <tr>
                        <td><b>ID товара:</b></td>
                        <td>2425429</td>
                    </tr>
                    <tr>
                        <td><b>Издательство:</b></td>
                        <td>Росмэн</td>
                    </tr>
                    <tr>
                        <td><b>Год издания:</b></td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td><b>Кол-во страниц:</b></td>
                        <td>528</td>
                    </tr>
                    <tr>
                        <td><b>ISBN:</b></td>
                        <td>9785389077881</td>
                    </tr>
                    <tr>
                        <td><b>Тираж:</b></td>
                        <td>30000</td>
                    </tr>
                    <tr>
                        <td><b>Формат:</b></td>
                        <td>20.6 x 13.2 x 3.8</td>
                    </tr>
                    <tr>
                        <td><b>Тип обложки:</b></td>
                        <td>Твердая глянцевая</td>
                    </tr>
                </table>
                <h3 class="product_header">Подробное описание товара</h3>
                <p class="decs">
                    Одиннадцатилетний мальчик-сирота Гарри Поттер живет в семье своей тетки и даже не подозревает,
                    что он - настоящий волшебник. Но однажды прилетает сова с письмом для него, и жизнь Гарри Поттера
                    изменяется навсегда. Он узнает, что зачислен в Школу Чародейства и Волшебства, выясняет правду о
                    загадочной смерти своих родителей, а в результате ему удается раскрыть секрет философского камня.
                </p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <footer>2018  BOOKSLOVER. All rights reserved - Designed by theuncreativelab.com</footer>
            <div class="footer_icons">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                <i class="fa fa-tumblr" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-rss" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</body>
</html>