<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title><link rel="stylesheet" href="styles/font-awesome.min.css">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div class="header_wrap">
    <div class="header">
        <div class="container header_content">
            <div class="header_logo">
                <a href="index.html">
                    <img src="images/logo.png" alt="логотип">
                </a>
            </div>
            <div class="header_icons">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-youtube" aria-hidden="true"></i>
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
            <div class="header_box">
                <div class="header_box_title">
                    welcome to
                    BOOKSLOVER
                </div>
                <div class="header_box_content">
                    The only online store you will ever need for all your windsurfing and kitesurfing and SUP needs
                </div>
            </div>
            <div class="header_box_2">
                <div class="header_box_2_title">
                    JP Funride 2014
                </div>
                <div class="header_box_2_content">
                    Super easy going freeride boards based on the X-Cite
                    Ride shape concept with additional control and super easy jibing.
                </div>
                <button class="header_box_2_buy">Купить</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="wrap_column">
        <div class="left_column">
            <div class="menu_title">
                Меню
            </div>
            <ul class="menu">
                <li>
                    <a href="index.html">Главная</a>
                </li>
                <li>
                    <a href="catalog.html">Каталог</a>
                </li>
                <li>
                    <a href="contacts.html">Контакты</a>
                </li>
            </ul>
            <div class="now">
                now<br>
                is<br>
                open!
            </div>
        </div>
        <div class="right_column">
            <div class="category_list">
                <div class="category_title">
                    Каталог
                </div>
                <div class="category_content">
                    <div class="product_card_wrap">
                        <div class="product_card">
                            <div class="product_image">
                                <a href="products/item1.html">
                                    <img class="image_mini" src="images/book3.jpg" alt="Гарри Поттер и Философский камень"><br>
                                </a>
                            </div>
                            <div class="product_info">
                                <div class="product_name">
                                    <a href="products/item1.html">Гарри Поттер и Философский камень</a>
                                </div>
                                <div class="product_price">
                                    <b>₽</b>.434.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product_card_wrap">
                        <div class="product_card">
                            <div class="product_image">
                                <a href="products/item2.html">
                                    <img class="image_mini" src="images/book2.jpg" alt="Гарри Поттер и Тайная комната"><br>
                                </a>
                            </div>
                            <div class="product_info">
                                <div class="product_name">
                                    <a href="products/item2.html">Гарри Поттер и Тайная комната</a>
                                </div>
                                <div class="product_price">
                                    <b>₽</b>.434.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product_card_wrap">
                        <div class="product_card">
                            <div class="product_image">
                                <a href="products/item3.html">
                                    <img class="image_mini" src="images/book.jpg" alt="Гарри Поттер и Узник Азкабана"><br>
                                </a>
                            </div>
                            <div class="product_info">
                                <div class="product_name">
                                    <a href="products/item3.html">Гарри Поттер и Узник Азкабана</a>
                                </div>
                                <div class="product_price">
                                    <b>₽</b>.434.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product_card_wrap">
                        <div class="product_card">
                            <div class="product_image">
                                <a href="products/item3.html">
                                    <img class="image_mini" src="images/book4.jpg" alt="Гарри Поттер и Кубок огня"><br>
                                </a>
                            </div>
                            <div class="product_info">
                                <div class="product_name">
                                    Гарри Поттер и Кубок огня
                                </div>
                                <div class="product_price">
                                    <b>₽</b>.434.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product_card_wrap">
                        <div class="product_card">
                            <div class="product_image">
                                <a href="products/item3.html">
                                    <img class="image_mini" src="images/book.jpg" alt="Гарри Поттер и Узник Азкабана"><br>
                                </a>
                            </div>
                            <div class="product_info">
                                <div class="product_name">
                                    <a href="products/item3.html">Гарри Поттер и Узник Азкабана</a>
                                </div>
                                <div class="product_price">
                                    <b>₽</b>.434.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product_card_wrap">
                        <div class="product_card">
                            <div class="product_image">
                                <a href="products/item3.html">
                                    <img class="image_mini" src="images/book4.jpg" alt="Гарри Поттер и Кубок огня"><br>
                                </a>
                            </div>
                            <div class="product_info">
                                <div class="product_name">
                                    Гарри Поттер и Кубок огня
                                </div>
                                <div class="product_price">
                                    <b>₽</b>.434.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <footer>2018  BOOKSLOVER. All rights reserved - Designed by theuncreativelab.com</footer>
            <div class="footer_icons">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                <i class="fa fa-tumblr" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-rss" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</body>
</html>