<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Книжный магазин</title>
    <link rel="stylesheet" href="styles/font-awesome.min.css">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="header_wrap">
        <div class="header">
            <div class="container header_content">
                <div class="header_logo">
                    <a href="index.html">
                        <img src="images/logo.png" alt="логотип">
                    </a>
                </div>
                <div class="header_icons">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
                <div class="header_box">
                    <div class="header_box_title">
                        welcome to
                        BOOKSLOVER
                    </div>
                    <div class="header_box_content">
                        The only online store you will ever need for all your windsurfing and kitesurfing and SUP needs
                    </div>
                </div>
                <div class="header_box_2">
                    <div class="header_box_2_title">
                        JP Funride 2014
                    </div>
                    <div class="header_box_2_content">
                        Super easy going freeride boards based on the X-Cite
                        Ride shape concept with additional control and super easy jibing.
                    </div>
                    <button class="header_box_2_buy">Купить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="wrap_column">
            <div class="left_column">
                <div class="menu_title">
                    Меню
                </div>
                <ul class="menu">
                    <li>
                        <a href="index.html">Главная</a>
                    </li>
                    <li>
                        <a href="catalog.html">Каталог</a>
                    </li>
                    <li>
                        <a href="contacts.html">Контакты</a>
                    </li>
                </ul>
                <div class="now">
                    now<br>
                    is<br>
                    open!
                </div>
            </div>
            <div class="right_column">
                <div class="category_list">
                    <div class="category_title">
                        new products
                    </div>
                    <div class="category_content">
                        <div class="product_card_wrap">
                            <div class="flag_new">
                                <div>new</div>
                            </div>
                            <div class="product_card">
                                <div class="product_image">
                                    <a href="products/item1.html">
                                        <img class="image_mini" src="images/book3.jpg" alt="Гарри Поттер и Философский камень"><br>
                                    </a>
                                </div>
                                <div class="product_info">
                                    <div class="product_name">
                                        <a href="products/item1.html">Гарри Поттер и Философский камень</a>
                                    </div>
                                    <div class="product_price">
                                        <b>₽</b>.434.00
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_card_wrap">
                            <div class="product_card">
                                <div class="product_image">
                                    <a href="products/item2.html">
                                        <img class="image_mini" src="images/book2.jpg" alt="Гарри Поттер и Тайная комната"><br>
                                    </a>
                                </div>
                                <div class="product_info">
                                    <div class="product_name">
                                        <a href="products/item2.html">Гарри Поттер и Тайная комната</a>
                                    </div>
                                    <div class="product_price">
                                        <b>₽</b>.434.00
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_card_wrap">
                            <div class="product_card">
                                <div class="product_image">
                                    <a href="products/item3.html">
                                        <img class="image_mini" src="images/book.jpg" alt="Гарри Поттер и Узник Азкабана"><br>
                                    </a>
                                </div>
                                <div class="product_info">
                                    <div class="product_name">
                                        <a href="products/item3.html">Гарри Поттер и Узник Азкабана</a>
                                    </div>
                                    <div class="product_price">
                                        <b>₽</b>.434.00
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_card_wrap">
                            <div class="product_card">
                                <div class="product_image">
                                    <a href="products/item4.html">
                                    <img class="image_mini" src="images/book4.jpg" alt="Гарри Поттер и Кубок огня"><br>
                                    </a>
                                </div>
                                <div class="product_info">
                                    <div class="product_name">
                                        <a href="products/item4.html">Гарри Поттер и Кубок огня</a>
                                    </div>
                                    <div class="product_price">
                                        <b>₽</b>.434.00
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_card_wrap">
                            <div class="product_card">
                                <div class="product_image">
                                    <a href="products/item3.html">
                                        <img class="image_mini" src="images/book.jpg" alt="Гарри Поттер и Узник Азкабана"><br>
                                    </a>
                                </div>
                                <div class="product_info">
                                    <div class="product_name">
                                        <a href="products/item3.html">Гарри Поттер и Узник Азкабана</a>
                                    </div>
                                    <div class="product_price">
                                        <b>₽</b>.434.00
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_card_wrap">
                            <div class="product_card">
                                <div class="product_image">
                                    <a href="products/item4.html">
                                    <img class="image_mini" src="images/book4.jpg" alt="Гарри Поттер и Кубок огня"><br>
                                    </a>
                                </div>
                                <div class="product_info">
                                    <div class="product_name">
                                        <a href="products/item4.html">Гарри Поттер и Кубок огня</a>
                                    </div>
                                    <div class="product_price">
                                        <b>₽</b>.434.00
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category_list">
                    <div class="category_title">
                        top products
                    </div>
                    <div class="category_content">
                        <div class="product_card_wrap">
                            <div class="product_card">
                                <div class="product_image">
                                    <a href="products/item1.html">
                                        <img class="image_mini" src="images/book3.jpg" alt="Гарри Поттер и Философский камень"><br>
                                    </a>
                                </div>
                                <div class="product_info">
                                    <div class="product_name">
                                        <a href="products/item1.html">Гарри Поттер и Философский камень</a>
                                    </div>
                                    <div class="product_price">
                                        <b>₽</b>.434.00
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_card_wrap">
                            <div class="flag_hot">
                                <div>hot</div>
                            </div>
                            <div class="product_card">
                                <div class="product_image">
                                    <a href="products/item2.html">
                                        <img class="image_mini" src="images/book2.jpg" alt="Гарри Поттер и Тайная комната"><br>
                                    </a>
                                </div>
                                <div class="product_info">
                                    <div class="product_name">
                                        <a href="products/item2.html">Гарри Поттер и Тайная комната</a>
                                    </div>
                                    <div class="product_price">
                                        <b>₽</b>.434.00
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_card_wrap">
                            <div class="product_card">
                                <div class="product_image">
                                    <a href="products/item3.html">
                                        <img class="image_mini" src="images/book.jpg" alt="Гарри Поттер и Узник Азкабана"><br>
                                    </a>
                                </div>
                                <div class="product_info">
                                    <div class="product_name">
                                        <a href="products/item3.html">Гарри Поттер и Узник Азкабана</a>
                                    </div>
                                    <div class="product_price">
                                        <b>₽</b>.434.00
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_card_wrap">
                            <div class="product_card">
                                <div class="product_image">
                                    <a href="products/item4.html">
                                        <img class="image_mini" src="images/book4.jpg" alt="Гарри Поттер и Кубок огня"><br>
                                    </a>
                                </div>
                                <div class="product_info">
                                    <div class="product_name">
                                        <a href="products/item4.html">Гарри Поттер и Кубок огня</a>
                                    </div>
                                    <div class="product_price">
                                        <b>₽</b>.434.00
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category_list">
                    <div class="category_title">
                        sale products
                    </div>
                    <div class="category_content">
                        <div class="product_card_wrap">
                            <div class="product_card">
                                <div class="product_image">
                                    <a href="products/item1.html">
                                        <img class="image_mini" src="images/book3.jpg" alt="Гарри Поттер и Философский камень"><br>
                                    </a>
                                </div>
                                <div class="product_info">
                                    <div class="product_name">
                                        <a href="products/item1.html">Гарри Поттер и Философский камень</a>
                                    </div>
                                    <div class="product_price">
                                        <b>₽</b>.434.00
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_card_wrap">
                            <div class="product_card">
                                <div class="product_image">
                                    <a href="products/item2.html">
                                        <img class="image_mini" src="images/book2.jpg" alt="Гарри Поттер и Тайная комната"><br>
                                    </a>
                                </div>
                                <div class="product_info">
                                    <div class="product_name">
                                        <a href="products/item2.html">Гарри Поттер и Тайная комната</a>
                                    </div>
                                    <div class="product_price">
                                        <b>₽</b>.434.00
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_card_wrap">
                            <div class="product_card">
                                <div class="product_image">
                                    <a href="products/item3.html">
                                        <img class="image_mini" src="images/book.jpg" alt="Гарри Поттер и Узник Азкабана"><br>
                                    </a>
                                </div>
                                <div class="product_info">
                                    <div class="product_name">
                                        <a href="products/item3.html">Гарри Поттер и Узник Азкабана</a>
                                    </div>
                                    <div class="product_price">
                                        <b>₽</b>.434.00
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brands">
            <img src="images/brands/logo_gvardiya.png">
            <img src="images/brands/mnemozina.png">
            <img src="images/brands/просвещение.png">
            <img src="images/brands/drofa.png">
            <img src="images/brands/act.png">
            <img src="images/brands/eksmo.png">
        </div>
        <div class="instagram_info">
            <div class="instagram_title">
                <img src="./images/instagram/insta-icon.png">
                Instagram feed: <span class="instagram#">#книгоман</span>
            </div>
            <div class="instagram_photos">
                <img src="./images/instagram/1.jpg">
                <img src="./images/instagram/2.jpg">
                <img src="./images/instagram/3.jpg">
                <img src="./images/instagram/4.jpg">
                <img src="./images/instagram/5.jpg">
                <img src="./images/instagram/6.jpg">
            </div>
        </div>
        <div class="social">
            <div class="facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
            <div class="twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
            <div class="pinterest">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <div class="footer_menu">
        <div class="container">
            <div class="footer_menu_content">
                <div>
                    <div class="footer_menu_name">
                        Category
                    </div>
                    <div class="footer_menu_list">
                        Home<br>
                        About us<br>
                        eshop<br>
                        Features<br>
                        New collection<br>
                        Blog<br>
                        Contact
                    </div>
                </div>
                <div>
                    <div class="footer_menu_name">
                        Our Account
                    </div>
                    <div class="footer_menu_list">
                        Your Account<br>
                        Personal information<br>
                        Addresses<br>
                        Discount<br>
                        Orders history<br>
                        Addresses<br>
                        Search Terms
                    </div>
                </div>
                <div>
                    <div class="footer_menu_name">
                        Our Support
                    </div>
                    <div class="footer_menu_list">
                        Site Map<br>
                        Search Terms<br>
                        Advanced Search<br>
                        Mobile<br>
                        Contact Us<br>
                        Mobile<br>
                        Addresses<br>
                    </div>
                </div>
                <div>
                    <div class="footer_menu_name">
                        Newsletter
                    </div>
                    <div class="footer_menu_desc">
                        Join thousands of other people subscribe to our news
                    </div>
                    <div class="footer_menu_email_form">
                        <input class="field" name="mail" type="email" placeholder="insert email">
                        <input class="submit" type="submit" value="submit">
                    </div>
                    <div class="footer_menu_payment">
                        <img src="./images/payment/7-layers.png">
                    </div>
                </div>
                <div>
                    <div class="footer_menu_name">
                        About Us
                    </div>
                    <div class="footer_menu_desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                    </div>
                    <div class="footer_menu_phoneAndEmail">
                        <table>
                            <tr>
                                <td>Phone:</td>
                                <td>+79255295992</td>
                            </tr>
                            <tr>
                                <td>e-mail:</td>
                                <td><span>contacts@yandex.ru</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <footer>2018  BOOKSLOVER. All rights reserved - Designed by theuncreativelab.com</footer>
            <div class="footer_icons">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                <i class="fa fa-tumblr" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-rss" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</body>
</html>