<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
    <title>Title</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<header>
    <div class="navS">
        <div class="logoS">
            <img src="images/logo.png">
            <div class="textLogo">
                <span class="upperLogoS">快適環境を創造する</span>
                <span class="underLodoS">株式会社古賀環美サービスセンター</span>
            </div>
        </div>
        <div class="headerMenu">
            <div class="dropdown dropleft">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="images/iconMenu.png">
                    <span>menu</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">家庭用ごみの出し方</a>
                    <a class="dropdown-item" href="#">し尿汲取り/浄化槽</a>
                    <a class="dropdown-item" href="#">事業系ごみの出し方</a>
                    <a class="dropdown-item" href="#">環境への取り組み</a>
                    <a class="dropdown-item" href="#">会社概要</a>
                    <a class="dropdown-item" href="#">お問い合わせ</a>
                </div>
            </div>
        </div>
    </div>
    <nav class="wrap">
        <ul>
            <li>
                <span class="upperLogo1">快適環境を創造する</span>
                <img src="images/logo.png">
                <span class="underLodo1">株式会社古賀環美サービスセンター</span>
            </li>
            <li>
                <img src="images/imgNav1.png">
                <span>家庭用ごみの出し方</span>
            </li>
            <li>
                <img src="images/imgNav2.png">
                <span>し尿汲取り/浄化槽</span>
            </li>
            <li>
                <img src="images/imgNav3.png">
                <span>事業系ごみの出し方</span>
            </li>
            <li>
                <img src="images/imgNav4.png">
                <span>環境への取り組み</span>
            </li>
            <li>
                <img src="images/imgNav5.png">
                <span>会社概要</span>
            </li>
            <li>
                <img src="images/imgNav6.png">
                <span>お問い合わせ</span>
            </li>
        </ul>
    </nav>
</header>
<div id="slider" class="carousel slide" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="images/3.png" alt="...">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="images/2.png">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="images/1.png">
            <div class="carousel-caption">
            </div>
        </div>
    </div>
</div>
<menu class="wrap">
    <ul>
        <li>
            <div class="imgMenu">
                <img src="images/imgMenu1.png">
            </div>
            <span>可燃ごみ</span>
            <button>詳しく見る</button>
        </li>
        <li>
            <div class="imgMenu">
                <img src="images/imgMenu2.png">
            </div>
            <span>し尿汲取り/浄化槽</span>
            <button>詳しく見る</button>
        </li>
        <li>
            <div class="imgMenu">
                <img src="images/imgMenu3.png">
            </div>
            <span>資源ごみ<br>
            <span class="textMini">（分別収集）</span></span>
            <button>詳しく見る</button>
        </li>
        <li>
            <div class="imgMenu">
                <img src="images/imgMenu4.png">
            </div>
            <span>粗大ごみ</span>
            <button>詳しく見る</button>
        </li>
        <li>
            <div class="imgMenu">
                <img src="images/imgMenu5.png">
            </div>
            <span>臨時収集</span>
            <button>詳しく見る</button>
        </li>
        <li>
            <div class="imgMenu">
                <img src="images/imgMenu6.png">
            </div>
            <span>遺品整理</span>
            <button>詳しく見る</button>
        </li>
    </ul>
</menu>
<section>
    <div class="leftSection">
        <div class="wrapDesc">
            <div class="heading">
                処分できないものはこちら
            </div>
            <div class="desc">
                家電サイクル法により、排出者（消費者）は適正な処理やそれに伴うリサイクル料金の支払いが
                義務づけられています。
            </div>
            <button>
                詳しく見る
            </button>
        </div>
    </div>
    <div class="rightSection">
        <div class="wrapDesc">
            <div class="heading">
                企業向けごみ収集はこちら
            </div>
            <div class="desc">事業系ごみは、ごみの種類や排出業者の業種により「事業系一般廃棄物」と「産業廃棄物」に
                分類されます。廃棄物の分類毎にそれぞれ適正に処理することが必要です。</div>
            <button>
                詳しく見る
            </button>
        </div>
    </div>
</section>
<div class="information">
    <div>
        ブログ最新記事
    </div>
    <div class="infoTitle">
        INFOMATION
    </div>
</div>
<div class="carousel-wrap">
    <div class="owl-carousel">
        <div class="carouselItem">
            <img src="images/imgCarousel1.png">
            <div class="carouselTitle">
                <div  class="date">
                    2018.08.06
                    <span> 活動</span>
                </div>
                <div class="title">
                    古賀市ラヴアースクリーンアップ２０１８
                </div>
            </div>
        </div>
        <div class="carouselItem">
            <img src="images/imgCarousel2.png">
            <div class="carouselTitle">
                <div class="date">
                    2018.08.06
                    <span> 研修</span>
                </div>
                <div class="title">
                    熱中症予防の講習を受けました！
                </div>
            </div>
        </div>
        <div class="carouselItem">
            <img src="images/imgCarousel3.png">
            <div class="carouselTitle">
                <div class="date">
                    2018.08.06
                    <span> 研修</span>
                </div>
                <div class="title">
                    社内勉強会を実施しました!
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container logo2">
    <div class="upperLogo2">
        快適環境を創造する
    </div>
    <img src="images/logo2.png">
    <div class="underLogo2">
        株式会社古賀環美サービスセンター
    </div>
    <div class="facebook">
        f
    </div>
</div>
<aside>
    <div class="wrap wrapUl">
        <div style="padding-left: 33px">
            <div class="ulTitle">
                家庭用ごみの出し方
            </div>
            <ul>
                <li>粗大ごみ</li>　　　
                <li>可燃ごみ</li>　　　　
                <li>資源ごみ（分別収集）</li>　　　
                <li>遺品整理</li>　　　
                <li>ごみの臨時収集</li>
            </ul>
        </div>
        <div>
            <div class="ulTitle">
                し尿汲取り/浄化槽
            </div>
            <ul>
                <li>し尿汲取り</li>　　　
                <li>浄化槽</li>
            </ul>
        </div>
        <div>
            <div class="ulTitle">
                事業系ごみの出し方
            </div>
            <ul>
                <li>事業系一般廃棄物</li>　　　
                <li>臨時収集</li>　　　　
                <li>産業廃棄物</li>
            </ul>
        </div>
        <div>
            <div class="ulTitle">
                環境への取り組み
            </div>
            <ul>
                <li>基本理念</li>　　　
                <li>環境への取り組み</li>　　　　
                <li>地域美化活動について</li>　　　
                <li>アダプトプログラムについて</li>
            </ul>
        </div>
        <div>
            <div class="ulTitle">
                会社概要
            </div>
            <ul>
                <li>会社概要</li>　　
                <li>会社沿革</li>　　　
                <li>アクセス</li>　　　　
                <li>採用情報</li>　　　
                <li>お問い合わせ</li>　　　
                <li>プライバシーポリシー</li>
                <li>ブログ</li>
            </ul>
        </div>
    </div>
    <div class="asideS">
        <table>
            <tr>
                <td>家庭用ごみの出し方</td>
                <td>し尿汲取り/浄化槽</td>
            </tr>
            <tr>
                <td>事業系ごみの出し方</td>
                <td>環境への取り組み</td>
            </tr>
            <tr>
                <td>会社概要/施設紹介</td>
                <td>Facebook</td>
            </tr>
        </table>
    </div>
</aside>
<div class="wrapBanners">
    <div class="wrap banners">
        <img src="images/bnr1.png">
        <img src="images/bnr2.png">
        <img src="images/bnr3.png">
        <img src="images/bnr4.png">
        <img src="images/bnr5.png">
        <img src="images/bnr6.png">
    </div>
</div>
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d28442.63912501733!2d136.9093890245506!3d35.17182760978958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sbr!4v1561239414820!5m2!1sru!2sbr" width="100%" height="330" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="phoneNumber">
    〒811-3121 福岡県筵内字野毛尾1522番地<br>
    <img src="images/phone.png">
</div>
<footer>
    古賀市の一般廃棄物収集運搬　All Right Reserved, Copyright @ KogaKanbisurvescenter. 2012
</footer>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/owl.carousel.min.js"></script>
<script>
    $(document).ready(function(){
        $(window).on("scroll", function() {
            if($(window).scrollTop() > 10) {
                $(".navS").addClass("active");
            } else {
                $(".navS").removeClass("active");
            }
        });
        const windowWidth = $(window).width();
        if (windowWidth > 970) {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                stagePadding: 100,
                autoplay: true,
                autoplayTimeout: 2000,
                smartSpeed: 1000,
                autoplayHoverPause: true,
                responsive: {
                    750: {
                        items: 5
                    }
                }
            });

            $('body').append('<a href="#" id="go-top" title="Вверх"><img src="images/btnUp.png"></a>');
            $(function() {
                $.fn.scrollToTop = function() {
                    $(this).hide().removeAttr("href");
                    if ($(window).scrollTop() >= "250") $(this).fadeIn("slow");
                    const scrollDiv = $(this);
                    $(window).scroll(function() {
                        if ($(window).scrollTop() <= "250") $(scrollDiv).fadeOut("slow");
                        else $(scrollDiv).fadeIn("slow")
                    });
                    $(this).click(function() {
                        $("html, body").animate({scrollTop: 0}, "slow")
                    })
                }
            });

            $(function() {
                $("#go-top").scrollToTop();
            });
        }
    });
</script>
</body>
</html>