body {
  font-family: 'Noto Sans JP', sans-serif;
}
* {
  outline: none;
}
header {
  z-index: 2;
  position: relative;
  background: #fff;
}
.headerMenu {
  display: flex;
  align-items: center;
}
.headerMenu .dropdown-toggle {
  color: #898989;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-weight: 400;
  border-radius: 5%;
  border: 2px solid #898989;
  width: 90px;
  height: 80px;
}
.headerMenu .dropdown-toggle::after,
.headerMenu .dropdown-toggle::before {
  display: none;
}
.headerMenu .dropdown-toggle img {
  width: 60px;
  height: 60px;
}
.headerMenu .dropdown-toggle span {
  margin-top: -10px;
  font-size: 19px;
  font-weight: 400;
}
.headerMenu .dropdown-menu {
  background: #ffffff;
  text-transform: lowercase;
  margin-left: -68px;
}
.headerMenu .dropdown-menu a {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.headerMenu .dropdown-menu a:hover {
  background: #ffffff;
}
@media all and (min-width: 970px) {
  .headerMenu {
    display: none;
  }
}
.navS {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #eeeeee75;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.navS.active {
  background-color: #ffffff;
}
@media all and (min-width: 970px) {
  .navS {
    display: none;
  }
}
.navS .logoS {
  display: flex;
  flex-direction: row;
}
.navS .logoS .textLogo {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.navS .logoS .textLogo .upperLogoS {
  color: #449456;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.35px;
}
.navS .logoS .textLogo .underLodoS {
  color: #000000;
  font-size: 21px;
  font-weight: 400;
}
@media all and (min-width: 970px) {
  .navS .logoS {
    display: none;
  }
}
.wrap {
  width: 970px;
  margin: 0 auto;
  max-width: 100vw;
}
nav {
  background-color: #ffffff;
  height: 88px;
  z-index: 2;
}
@media all and (max-width: 719px) {
  nav {
    display: none;
  }
}
@media all and (min-width: 720px) and (max-width: 749px) {
  nav {
    display: none;
  }
}
@media all and (min-width: 750px) and (max-width: 969px) {
  nav {
    display: none;
  }
}
nav ul {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 950px;
}
nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #78b4bc;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
nav ul li::after {
  background-color: #78b4bc;
  display: block;
  content: "";
  height: 2px;
  width: 0;
  left: 50%;
  bottom: -8px;
  position: absolute;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
nav ul li:hover:after,
nav ul li:focus:after {
  width: 100%;
}
nav ul li:first-child::after {
  content: none;
}
nav ul li .upperLogo1 {
  color: #449456;
  font-size: 5px;
  font-weight: 400;
  letter-spacing: 1.35px;
}
nav ul li .underLogo1 {
  color: #000000;
  font-size: 9px;
  font-weight: 400;
}
nav ul li span {
  color: #333333;
  font-size: 12px;
  font-weight: 400;
  margin-top: 6px;
}
#slider {
  height: 590px;
  overflow: hidden;
  width: 100%;
  margin-top: -88px;
  padding-top: 90px;
}
@media all and (max-width: 719px) {
  #slider {
    margin-top: 0;
    height: 500px;
    padding-top: 120px;
  }
}
@media all and (min-width: 720px) and (max-width: 749px) {
  #slider {
    margin-top: 0;
    height: 500px;
    padding-top: 120px;
  }
}
@media all and (min-width: 750px) and (max-width: 969px) {
  #slider {
    margin-top: 0;
    height: 500px;
    padding-top: 120px;
  }
}
#slider img {
  width: 100%;
}
@media all and (min-width: 720px) and (max-width: 749px) {
  #slider img {
    height: 290px;
  }
}
@media all and (min-width: 720px) and (max-width: 749px) {
  #slider img {
    height: 390px;
  }
}
@media all and (min-width: 750px) and (max-width: 969px) {
  #slider img {
    height: 390px;
  }
}
menu {
  margin-bottom: 0;
  padding-bottom: 49px;
}
@media all and (min-width: 720px) and (max-width: 749px) {
  menu {
    padding-bottom: 0;
  }
}
@media all and (max-width: 719px) {
  menu {
    padding-bottom: 0;
  }
}
@media all and (min-width: 750px) and (max-width: 969px) {
  menu {
    padding-bottom: 0;
  }
}
menu.wrap {
  padding-left: 0;
  margin-top: -65px;
  position: relative;
}
@media all and (min-width: 720px) and (max-width: 749px) {
  menu.wrap {
    margin-top: 20px;
  }
  menu.wrap ul {
    flex-wrap: wrap;
    margin-left: 70px;
  }
  menu.wrap ul li {
    width: 154px;
    height: 193px;
    margin-right: 55px;
    margin-bottom: 25px;
    justify-content: space-evenly;
  }
  menu.wrap ul li:nth-child(3) span {
    margin-bottom: -25px;
  }
  menu.wrap ul li button {
    display: none;
  }
}
@media all and (max-width: 719px) {
  menu.wrap {
    margin-top: 20px;
  }
  menu.wrap ul {
    flex-wrap: wrap;
    margin-left: 100px;
  }
  menu.wrap ul li {
    width: 154px;
    height: 193px;
    margin-right: 100px;
    margin-bottom: 25px;
    justify-content: space-evenly;
  }
  menu.wrap ul li:nth-child(3) span {
    margin-bottom: -25px;
  }
  menu.wrap ul li button {
    display: none;
  }
}
@media all and (min-width: 750px) and (max-width: 969px) {
  menu.wrap {
    margin-top: 20px;
  }
  menu.wrap ul {
    flex-wrap: wrap;
    margin-left: 70px;
  }
  menu.wrap ul li {
    width: 154px;
    height: 193px;
    margin-right: 71px;
    margin-bottom: 25px;
    justify-content: space-evenly;
  }
  menu.wrap ul li:nth-child(3) span {
    margin-bottom: -25px;
  }
  menu.wrap ul li button {
    display: none;
  }
}
menu ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 0;
}
menu ul li {
  width: 160px;
  height: 247px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #4c4c4c;
  font-size: 17px;
  font-weight: bold;
}
menu ul li .textMini {
  color: #333333;
  font-size: 10px;
  font-weight: 400;
}
menu ul li .imgMenu {
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #eeeeee;
  background-color: rgba(255, 255, 255, 0.84);
}
menu ul li .imgMenu:hover {
  opacity: 0.8;
  cursor: pointer;
}
menu ul li button {
  width: 127px;
  height: 40px;
  border: none;
  border-radius: 2px;
  background-color: #707070;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  position: relative;
  text-align: center;
}
menu ul li button::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 8px;
  background-image: url("../images/imgButton.png");
  background-repeat: no-repeat;
  left: 28px;
  top: 16px;
}
menu ul li button:hover {
  opacity: 0.8;
}
section {
  height: 451px;
  opacity: 0.8;
  display: flex;
}
@media all and (min-width: 720px) and (max-width: 749px) {
  section {
    flex-direction: column;
    height: 1000px;
    margin: 40px;
  }
}
@media all and (min-width: 750px) and (max-width: 969px) {
  section {
    flex-direction: column;
    height: 1000px;
    margin: 40px;
  }
}
@media all and (max-width: 719px) {
  section {
    flex-direction: column;
    height: 1000px;
    margin: 40px;
  }
}
section .wrapDesc {
  padding: 40px 0 43px 0;
  height: 219px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media all and (min-width: 720px) and (max-width: 749px) {
  section .wrapDesc {
    padding: 20px 0;
  }
}
section .wrapDesc button {
  position: relative;
  background: none;
  border: none;
}
@media all and (min-width: 720px) and (max-width: 749px) {
  section .wrapDesc button {
    font-size: 17px;
  }
}
section .wrapDesc button::before {
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  background-image: url("../images/arrowRight1.png");
  background-repeat: no-repeat;
  left: -32px;
}
@media all and (min-width: 720px) and (max-width: 749px) {
  section .wrapDesc button::before {
    top: 4px;
  }
}
section .wrapDesc button:hover {
  opacity: 0.8;
}
section .leftSection,
section .rightSection {
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0;
  background-size: cover;
  flex: 1;
}
section .leftSection {
  background-image: url("../images/img1.png");
}
@media all and (min-width: 720px) and (max-width: 749px) {
  section .leftSection {
    margin-bottom: 30px;
  }
}
@media all and (min-width: 750px) and (max-width: 969px) {
  section .leftSection {
    margin-bottom: 30px;
  }
}
section .rightSection {
  background-image: url("../images/img2.png");
}
section .heading {
  color: #000000;
  font-size: 22px;
  font-weight: 400;
}
@media all and (min-width: 720px) and (max-width: 749px) {
  section .heading {
    font-size: 27px;
  }
}
section .desc {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 22.02px;
  max-width: 530px;
}
@media all and (min-width: 720px) and (max-width: 749px) {
  section .desc {
    font-size: 18px;
    line-height: 26px;
    max-width: 600px;
  }
}
.information {
  margin-top: 65px;
  margin-bottom: 54px;
  color: #191919;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 2.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (min-width: 720px) and (max-width: 749px) {
  .information {
    font-size: 20px;
    letter-spacing: 2.88px;
  }
}
.information .infoTitle {
  margin-top: 16px;
  color: #4fa8b1;
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}
@media all and (min-width: 720px) and (max-width: 749px) {
  .information .infoTitle {
    font-size: 14px;
    letter-spacing: 4.03px;
  }
}
.owl-carousel {
  margin-bottom: 152px;
  display: block;
}
@media all and (min-width: 750px) and (max-width: 969px) {
  .owl-carousel {
    background-color: #eeeeee;
    padding: 20px 30px;
    margin-bottom: 50px;
  }
  .owl-carousel .carouselItem {
    background-color: #FFFFFF;
    margin-bottom: 20px;
    display: flex;
    position: relative;
  }
  .owl-carousel .carouselItem:after {
    content: '>';
    position: absolute;
    right: 30px;
    top: 60px;
    font-weight: 200;
  }
  .owl-carousel .carouselItem .carouselTitle {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .owl-carousel .carouselItem .carouselTitle .date {
    font-size: 18px;
    font-weight: 400;
  }
  .owl-carousel .carouselItem .carouselTitle .title {
    font-size: 18px;
    font-weight: 400;
  }
}
@media all and (min-width: 720px) and (max-width: 749px) {
  .owl-carousel {
    background-color: #eeeeee;
    padding: 20px 30px;
    margin-bottom: 50px;
  }
  .owl-carousel .carouselItem {
    background-color: #FFFFFF;
    margin-bottom: 20px;
    display: flex;
    position: relative;
  }
  .owl-carousel .carouselItem:after {
    content: '>';
    position: absolute;
    right: 30px;
    top: 60px;
    font-weight: 200;
  }
  .owl-carousel .carouselItem .carouselTitle {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .owl-carousel .carouselItem .carouselTitle .date {
    font-size: 18px;
    font-weight: 400;
  }
  .owl-carousel .carouselItem .carouselTitle .title {
    font-size: 18px;
    font-weight: 400;
  }
}
@media all and (max-width: 719px) {
  .owl-carousel {
    background-color: #eeeeee;
    padding: 20px 30px;
    margin-bottom: 50px;
  }
  .owl-carousel .carouselItem {
    background-color: #FFFFFF;
    margin-bottom: 20px;
    display: flex;
    position: relative;
  }
  .owl-carousel .carouselItem:after {
    content: '>';
    position: absolute;
    right: 30px;
    top: 60px;
    font-weight: 200;
  }
  .owl-carousel .carouselItem .carouselTitle {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .owl-carousel .carouselItem .carouselTitle .date {
    font-size: 18px;
    font-weight: 400;
  }
  .owl-carousel .carouselItem .carouselTitle .title {
    font-size: 18px;
    font-weight: 400;
  }
}
.owl-carousel img {
  width: 200px;
}
.owl-carousel .date {
  color: #333333;
  font-size: 11px;
  font-weight: 400;
  margin-top: 8px;
}
.owl-carousel .date span {
  border: 1px solid #333333;
  margin-left: 24px;
  padding: 0 10px;
}
.owl-carousel .title {
  color: #666666;
  font-size: 11px;
  font-weight: 400;
  margin-top: 10px;
}
.logo2 {
  height: 124px;
  width: 219px;
  text-align: center;
  position: relative;
  margin-bottom: -75px;
}
@media all and (min-width: 720px) and (max-width: 749px) {
  .logo2 {
    width: 320px;
    height: 132px;
  }
}
.logo2 img {
  margin: 12px 0 21px 0;
}
.logo2 .upperLogo2 {
  color: #449456;
  font-size: 7px;
  font-weight: bold;
  letter-spacing: 1.35px;
}
@media all and (min-width: 720px) and (max-width: 749px) {
  .logo2 .upperLogo2 {
    font-size: 14px;
    letter-spacing: 2.52px;
  }
}
@media all and (min-width: 750px) and (max-width: 969px) {
  .logo2 .upperLogo2 {
    font-size: 14px;
    letter-spacing: 2.52px;
  }
}
@media all and (max-width: 719px) {
  .logo2 .upperLogo2 {
    font-size: 14px;
    letter-spacing: 2.52px;
  }
}
.logo2 .underLogo2 {
  width: 225px;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}
@media all and (min-width: 720px) and (max-width: 749px) {
  .logo2 .underLogo2 {
    width: 290px;
    font-size: 18px;
  }
}
.logo2 .facebook {
  height: 29px;
  width: 29px;
  border-radius: 50%;
  background-color: #85c6ce;
  color: #ffffff;
  position: absolute;
  bottom: 18px;
  left: 445px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
}
@media all and (max-width: 719px) {
  .logo2 .facebook {
    display: none;
  }
}
@media all and (min-width: 720px) and (max-width: 749px) {
  .logo2 .facebook {
    display: none;
  }
}
@media all and (min-width: 750px) and (max-width: 969px) {
  .logo2 .facebook {
    display: none;
  }
}
aside {
  background-color: #eeeeee;
}
aside .wrapUl {
  padding-top: 128px;
  padding-bottom: 31px;
  color: #000000;
  font-size: 10px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 719px) {
  aside .wrapUl {
    display: none;
  }
}
@media all and (min-width: 720px) and (max-width: 749px) {
  aside .wrapUl {
    display: none;
  }
}
@media all and (min-width: 750px) and (max-width: 969px) {
  aside .wrapUl {
    display: none;
  }
}
aside .wrapUl .ulTitle {
  padding-bottom: 24px;
  position: relative;
}
aside .wrapUl .ulTitle:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 14px;
  background-image: url("../images/imgBefore.png");
  background-repeat: no-repeat;
  left: -33px;
}
aside .wrapUl ul {
  margin: 0;
  padding: 0;
}
aside .wrapUl ul li {
  list-style: none;
}
aside .asideS {
  padding-top: 128px;
  padding-bottom: 31px;
}
aside .asideS table {
  width: 100%;
  height: 240px;
  background-color: #e5e5e5;
}
aside .asideS table td {
  border: 1px solid #dcdcdc;
  width: 378px;
  height: 82px;
  padding-left: 35px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.95px;
  cursor: pointer;
  position: relative;
}
aside .asideS table td::after {
  content: '>';
  position: absolute;
  right: 25px;
  top: 29px;
  font-weight: 200;
}
@media all and (min-width: 970px) {
  aside .asideS {
    display: none;
  }
}
.wrapBanners {
  background-color: #eeeeee;
}
.wrapBanners .banners {
  padding-top: 31px;
  padding-bottom: 64px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
@media all and (min-width: 720px) and (max-width: 749px) {
  .wrapBanners .banners {
    flex-wrap: wrap;
    padding: 50px 10px;
  }
  .wrapBanners .banners img {
    width: 350px;
    height: auto;
    margin-bottom: 10px;
  }
}
@media all and (min-width: 750px) and (max-width: 969px) {
  .wrapBanners .banners {
    flex-wrap: wrap;
    padding: 50px 10px;
  }
  .wrapBanners .banners img {
    width: 240px;
    height: auto;
    margin-bottom: 10px;
  }
}
@media all and (max-width: 719px) {
  .wrapBanners .banners {
    flex-wrap: wrap;
    padding: 30px 30px;
    justify-content: center;
  }
  .wrapBanners .banners img {
    width: 350px;
    height: auto;
    padding-bottom: 30px;
  }
}
.map {
  max-height: 330px;
}
.phoneNumber {
  height: 108px;
  background-color: #eeeeee;
  text-align: center;
  padding-top: 33px;
}
footer {
  width: 100%;
  height: 39px;
  background-color: #898989;
  color: #ffffff;
  font-size: 8px;
  font-weight: 400;
  text-align: center;
  padding-top: 14px;
}
#go-top {
  position: fixed;
  bottom: 25px;
  right: 70px;
  text-align: center;
  align-content: center;
  display: none;
  width: 69px;
  height: 69px;
  background-color: #898989;
  line-height: 60px;
  z-index: 3;
}
#go-top:hover {
  background: #5d5d5d;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */